<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>聊天页面</title>
		
		<script type="text/javascript" src="js/jquery.min.js"></script>
		<script src="https://webrtc.github.io/adapter/adapter-4.2.2.js"></script>
		<script type="text/javascript" src="js/cookie.js"></script>
        <script type="text/javascript" src="js/layer/layer.js"></script>	
		<script src="js/chat.js"></script>
		<link href="//at.alicdn.com/t/font_281215_is6omjadgt.css" rel="stylesheet"/>
		<link href="css/chat.css" rel="stylesheet" />
	</head>
	
	<body>
		 
	</body>
</html>
